@font-face {
    font-family: Fira;
    src: url(../fonts/Fira_Sans/FiraSans-Regular.ttf)
}
@font-face {
    font-family: Josef;
    src: url(../fonts/Josefin_Slab/static/JosefinSlab-Regular.ttf)
  }
  
body{
    font-family: Fira, Arial, sans-serif;
    margin:0px;
    color:#141414;
}
h1,
h2,
h3,
p{
    margin:0px;
}
ul{
    margin:0px;
    padding:0px;
    list-style:none;
}
img{
    max-width: 100%;
    display: block;
}
.subtitle{
    font-size: 8rem;
    word-break: break-all;
    line-height:1;
}
body::-webkit-scrollbar{
    width:8px;
}
body::-webkit-scrollbar-track {
    background: #141414 ;
    padding: 2px;   /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
    background-color: #946d51;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
}
* {
    scrollbar-width: thin;          /* "auto" or "thin" */
    scrollbar-color: #946d51 #141414;   /* scroll thumb and track */
}
html, body {
    scroll-behavior: smooth;
}
.to-top {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    background:#2f211a75;
    padding: 10px;
    border-radius:50%;
    text-decoration: none;
}
.to-top::after {
    content: url('../img/arrow-lb.svg');
    transition: margin-top 250ms;
    opacity: 1 !important;
}
.to-top:hover{
    
    background: rgba(148, 109, 81,0.55);
        content: url('../img/arrow-db.svg');
}