/*.background-header-main{
    background:url('../img/primarias/bode_perfil.jpg')no-repeat center center;
    position: relative;  
    background-size: 100%;
    max-width: 100%;
}*/
.background-header-main{
    background:url('../img/primarias/new-background.jpg') no-repeat center center;
    max-width:100%;
    background-size: 100%;
    margin: auto;
}
@media (max-width: 780px){
    .background-header-main{
        background-position: center top;
        min-height: 100%;
        background-size:cover;
    }
}
.introduction {
    max-width: 1200px;
    padding:40px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr;
    gap:100px;
    align-items: center !important;
    position:relative;
    text-align: center;
}
.introduction h1{
    margin-top: 20px;
    font-size: 4.5em;
    line-height:1.2;
    margin-bottom:80px;
    position:relative;
}
/*.introduction h1::before {
    content: "";
    display: block;
    width: 130px;
    height: 100px;
    background: url("../img/detalhe.svg") no-repeat center;
    position: absolute;
    top:-15px;
    left: -40px;
    z-index: -1;
}*/
.introduction p{
    font-size: 1.5rem;
    color: #000;
    margin-bottom: 60px;
}
@media(max-width:1000px){
    .introduction h1{
        font-size: 3rem;
    }
}
@media(max-width:800px){
    .introduction {
        grid-template-columns: 2fr;
        gap:40px;
        align-items: center !important;
        position:relative;
        text-align: center;
    }
    .introduction h1{
        font-size: 2rem;
    }
    .introduction h1::before {
        width:30px;
        height: 10px;
        left: 0px;
    }
}
@media(max-width:400px){
    .introduction{
        grid-template-columns:1fr;
    }
    .introduction img{
        display: none;
    }
}
.introduction-description h1{
    color: #e8e8e8;
    opacity: 0.8;
    text-decoration: background #b8b8b865;
    border-radius: 4px;;
}
.introduction-description {
    color: #141414;
    position: relative;
}
@media(max-width:480px){
    .introduction-description h1{
        color:#fff;
    }
}
.dot{
    background: #000;
    height: 90px;
    width: 12px;
    position: absolute;
    font-size: 5rem;
    animation: mymove 0.5s infinite alternate;
    opacity: 0.6;
}
@keyframes mymove {
    from {opacity:0;}
    to {opacity: 1;}
}